.grid-container {
  position: relative;
  left: 33em;
  display: grid;
  width: 700px;
  height: 700px;
  background-color: #2196F3;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
}
.grid-item {
  background:white;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.body {
  background-color: green;
}
.title {
  color: white;
  position: relative;
  font-size: 5em;
  left: 8em;
}
.color-picker {
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 30em;
  left: 15em;
}
.color-picker-confirm {
  font-size: 25px;
  position: relative;
  right: 3em;
  bottom: 14.5em;
}
.restart {
  font-size: 35px;
  position: relative;
  bottom: 1em;
  left: 8em;
}
.resize {
  font-size: 25px;
  position: relative;
  left: 28.4em;
  bottom: 14.8em;
}
.text-box {
  font-size: 25px;
  position: relative;
  left: 20em;
  bottom: 16.5em;

}